body {
    background-color: black !important;
    overflow-x: hidden;
}

p {
    color: white;
    text-align: center;
    font-weight: bold;
}

.tile {
    padding: 0 !important;
}

.tile img {
    max-height: 800px;
    width: 100%;
}

.airdate {
    position: absolute;
    color: white;
    background-color: black;
    opacity: .75;
    font-weight: bold;
    font-size: 20px;
    top: 30px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 10px;
}


.animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
