body {
    background-color: black !important;
}

p {
    color: white;
    text-align: center;
    font-weight: bold;
}

.container {
    height: 400px;
}

.container img {
    height: 100%;
    width: auto;
}
