<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="css/series.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>
</head>

<body>
<div class="row">
    <th:block th:each="series: ${seriesList}">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <p th:text="${series.nextAirDate}"></p>
            <div class="container">
                <img th:src="${series.imageUrl}"/>
            </div>
        </div>
    </th:block>
</div>
</body>
</html>
