<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
    <meta charset="utf-8"/>
    <title>Series Stalker</title>
    <link rel="stylesheet" href="css/series.css"/>
</head>

<body>

<div id="overlay" onClick="hideSearchOverlay()">
    <div id="searchOverlay"></div>
</div>

<div class="container" onclick="showSearchOverlay()">
    <th:block th:each="series: ${seriesList}">
        <div class="tile animated fadeIn">
            <span class="airdate" th:text="${series.nextAirDate}"></span>
            <img th:src="${series.imageUrl}"/>
        </div>
    </th:block>
</div>

<script>
    function showSearchOverlay() {
        document.getElementById("overlay").style.visibility = "visible";
        document.getElementById("searchInput").focus();
    }

    function hideSearchOverlay() {
        document.getElementById("overlay").style.visibility = "hidden";
    }
</script>

<script src="/js/bundle.js"></script>

</body>
</html>
